@import "bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "chartist/dist/index.scss";

.is-disable {
    pointer-events: none;
    opacity: .5;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.is-fullheight {
    height: 100%;
}

.is-fullwidth {
    width: 100%;
}