@import "bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "chartist/dist/index.scss";

@import "override.scss";

.is-disable {
    pointer-events: none;
    opacity: .5;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-centered {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-list {
    display: flex;
    height: 100%;
    flex-flow: column;
}
.flex-list .flex-auto-height {
    flex: 1 1 auto;
}

.is-fullheight {
    height: 100%;
}

.is-fullwidth {
    width: 100%;
}

div.progress {
    background-color: $grey-lightest;
}
.progress .progress-bar {
    float: left;
    height: 100%;
}