@import "bulma/bulma.sass";

.is-disable {
    pointer-events: none;
    opacity: .5;
}

.icon-text .icon {
    margin-right: 0.4rem;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.is-fullheight {
    height: 100%;
}